body{
    font-family: 'Baskerville', serif;
    background-color: #3b323f;
    height: 100vh;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100%
}
