body {
    font-family: 'Baskerville URW';
    background-color: transparent;
  height:100vh;
}

.wrapper {
    display: inline-block;
    align-items: center;
    justify-content: center;
  flex-direction: column;
  min-height: 100%;
}

button::-moz-focus-inner { 
  border: 0;
  padding: 0;
}

#calendari {
    position: relative;
    overflow: hidden;
    height: 280px;
    width: 300px;
    font-size: 14px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.4);
}
table {
    border-collapse: collapse;
    table-layout: auto;
    height: 280px;
    width: 300px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    background-color: #f2f0ee;
    position: relative;
    top: 0;
    left: 0;
    transform: translateX(0);
    transition: all 0.3s ease;
}
table.actiu {
    transform: translateX(0px)top;
}
table.inactiu {
    transition: all 0.3s 0.01s ease;
}
table.amagat-esquerra {
    transform: translateX(-299px);
}
table.amagat-dreta {
    transform: translateX(300px);
}
td,th {
    text-align: center;
    background-color: #f2e0ee;
}
th {
    padding: 5px;
}
tr:first-child th {
  background-color: #4b3d33;
    color: #f2f0ee;
    font-size: 16px;
    font-weight: normal;
    border-left: none;
    border-top: none;
}
td:last-child, th:last-child {
  border-right: none;
}

th {
    border-top: 0.5px solid rgba(0,0,0,0.1);
    border-right: 0.5px solid rgba(0,0,0,0.1);
    background-color: #cdc6bd;
    color: #4b3d33;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
    font-weight: normal;
}
th .any {
    font-size: 12px;
    color: #cdc6bd;
    font-weight: normal;
    display: block;
    text-shadow: none;
}
tr:nth-child(2) th {
    padding:5px;
}
td {
    padding: 0;
    border-bottom: 0.5px solid rgba(0,0,0,0.05);
    background-color: #f2f0ee;
}
td>span {
    color: #4b3d33;
    padding: 8px;
    display: block;
    border: 0.5px solid transparent;
    transition: border 0.3s ease;
}

td:nth-child(even)>span {
    background-color: rgba(0,0,0,0.02);
}
td:last-child>span,
td:nth-child(6)>span {
    color: #5f4c40;
}
td.avui>span {
    font-weight: bold;
    background-color: #816d5e;
    color: #f2f0ee;
    border: 0.5px solid rgba(0,0,0,0.1);
}
td.fora > span {
    opacity: 0.2;
}
td > span:hover {
    background: #aea396;
    color: #f2f0ee;
}
.boto-next, .boto-prev {
    background: rgba(0,0,0,0.1);
    color: #f2f0ee;
    font-family: inherit;
    border: none;
    font-size: 10px;
    font-weight: normal;
    text-shadow: inherit;
    padding: 4px 5px 10px 5px;
    line-height: 10px;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    border-radius: 100%;
    position:absolute;
    top: 8px;
}
.boto-next { right: 10px; padding-left: 10px; }
.boto-prev { left: 10px; padding-right: 10px;}
.boto-next:hover,
.boto-prev:hover {
    background: rgba(0,0,0,0.2);
}
button:hover { cursor: pointer; }
button:focus { outline: none; }
